<div id="page-container">
  <div id="welcome-container">
    <img class="logo-img" src="http://i.imgur.com/dqV0ZWd.png" alt="Rise and Shine logo">
    <p class="welcome-text">parties that make change...</p>
  </div>

  <div id="tabs-container">
    <nav>
      <ul class="tabs-menu">
        <li class="current"><a href="#tab-1">... in the morning</a></li>
        <li><a href="#tab-2">... all day</a></li>
        <li><a href="#tab-3">... in schools</a></li>
      </ul>
    </nav>
    <div class="tab">
      <div id="tab-1" class="tab-content">
        <h1>Daybreak Dance Parties</h1>
        <p>Once a month we get up early to get down on the dancefloor in a beautiful venue on the Wellington waterfront. Beginning with a yoga class suited to all ability levels, and then moving on to some serious boogie business with optional sides of coffee, muesli or porridge, and a free massage, this is <strong>the</strong> best way to start the day.</p>
        <img src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xat1/v/t1.0-9/10330318_10205010622570120_7026220034193922020_n.jpg?oh=5bf82df4808d9145c89ccc149060a094&oe=56AF4285&__gda__=1454125639_d5342df9dd4c316d0c63ff0e49ef2b86" alt="dancing on the waterfront at sunrise">
        <div class="video-wrapper">
          <iframe width="560" height="349" src="https://www.youtube.com/embed/BDxzDir5FGQ?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div id="tab-2" class="tab-content">
        <h1>Mini-Festivals</h1>
        <p>Once a month we get up early to get down on the dancefloor in a beautiful venue on the Wellington waterfront. Beginning with a yoga class suited to all ability levels, and then moving on to some serious boogie business with optional sides of coffee, muesli or porridge, and a free massage, this is <strong>the</strong> best way to start the day.</p>
        <img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpf1/t31.0-8/12241089_742480899217015_1779077624692191169_o.jpg" alt="outdoor dancefloor in Shelly Bay, Wellington">
        <div class="video-wrapper">
          <iframe width="560" height="349" src="https://www.youtube.com/embed/Yo8t1tz3eRc?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div id="tab-3" class="tab-content">
        <h1>Rise &amp; Shine, kids!</h1>
        <p>Once a month we get up early to get down on the dancefloor in a beautiful venue on the Wellington waterfront. Beginning with a yoga class suited to all ability levels, and then moving on to some serious boogie business with optional sides of coffee, muesli or porridge, and a free massage, this is <strong>the</strong> best way to start the day.</p>
      </div>
    </div>
  </div>
</div>