<div id="welcome-container">
  <img class="logo-img" src="http://i.imgur.com/dqV0ZWd.png" alt="Rise and Shine logo">
  <p class="welcome-text">parties that make change...</p>
</div>

<div id="tabs-container">
  <nav>
    <ul class="tabs-menu">
      <li class="current"><a href="#tab-1">... in the morning</a></li>
      <li><a href="#tab-2">... all day</a></li>
      <li><a href="#tab-3">... for kids</a></li>
    </ul>
  </nav>
  <div class="tab">
    <div id="tab-1" class="tab-content">
      <h1>Daybreak Dance Parties</h1>
      <p>Once a month we get up early to get down on the dancefloor in a beautiful venue on the Wellington waterfront. Beginning with a yoga class suited to all ability levels, and then moving on to some serious boogie business with optional sides of coffee, muesli or porridge, and a free massage, this is <strong>the</strong> best way to start the day.</p>
    </div>
    <div id="tab-2" class="tab-content">
      <h1>Mini-Festivals</h1>
      <p>Once a month we get up early to get down on the dancefloor in a beautiful venue on the Wellington waterfront. Beginning with a yoga class suited to all ability levels, and then moving on to some serious boogie business with optional sides of coffee, muesli or porridge, and a free massage, this is <strong>the</strong> best way to start the day.</p>
    </div>
    <div id="tab-3" class="tab-content">
      <h1>Rise &amp; Shine, kids!</h1>
      <p>Once a month we get up early to get down on the dancefloor in a beautiful venue on the Wellington waterfront. Beginning with a yoga class suited to all ability levels, and then moving on to some serious boogie business with optional sides of coffee, muesli or porridge, and a free massage, this is <strong>the</strong> best way to start the day.</p>
    </div>
  </div>
</div>

