<header id="top">
  <div class="logo">
    <img class="logo-img" src="http://i.imgur.com/dqV0ZWd.png" alt="Rise and Shine logo">
  </div>
  <div class="welcome">
    <p class="head-text">Making people in Aotearoa shine.</p>
  </div>
</header>
