<header id="first">
  <img class="logo-img" src="http://i.imgur.com/dqV0ZWd.png" alt="Rise and Shine logo">
  <p class="welcome-text">parties that make change...</p>
</header>

<div class="container">
  <div class="tabdemo my-tabs">
    <ul class="tab-menu menu">
      <li><a href="#">... in the morning</a></li>
      <li><a href="#">... all day</a></li>
      <li><a href="#">... for kids</a></li>
    </ul>
    <div class="tab-content content">
      <div class="tab-content-item">
        <h1>Daybreak Dance Parties</h1>
        <p>Once a month we get up early to get down on the dancefloor in a beautiful venue on the Wellington waterfront. Beginning with a yoga class suited to all ability levels, and then moving on to some serious boogie business with optional sides of coffee, muesli or porridge, and a free massage, this is <strong>the</strong> best way to start the day.</p>
      </div>
      <div class="tab-content-item">
        <h1>Mini-Festivals</h1>
        <p>Once a month we get up early to get down on the dancefloor in a beautiful venue on the Wellington waterfront. Beginning with a yoga class suited to all ability levels, and then moving on to some serious boogie business with optional sides of coffee, muesli or porridge, and a free massage, this is <strong>the</strong> best way to start the day.</p>
      </div>
      <div class="tab-content-item">
        <h1>Rise &amp; Shine, kids!</h1>
        <p>Once a month we get up early to get down on the dancefloor in a beautiful venue on the Wellington waterfront. Beginning with a yoga class suited to all ability levels, and then moving on to some serious boogie business with optional sides of coffee, muesli or porridge, and a free massage, this is <strong>the</strong> best way to start the day.</p>
      </div>
    </div>
  </div>
</div>

<script>
$(window).load(function() {
$(".my-tabs").tabtab({
        animateHeight: !0,
        fixedHeight: !1,
        scale: 1,
        rotateX: 0,
        speed: 1500,
        transformOrigin: "center left",
        rotateY: 90,
        easing: "easeInOutCubic",
        translateX: 0,
        tabMenu: ".tab-menu",
        tabContent: ".tab-content"
    })
});
</script>