<article>
  <form method="post" action="/contact">
    <fieldset>
      <legend>Send us a message</legend>
      <label for="message">Message</label>
      <textarea id="message" name="message" class="form-control"></textarea>
      <input type="submit" value="Send message">
    </fieldset>
  </form>
</article>